@import '../../App.css';
.container{
    margin: 0, auto;
    text-align: center; 
}

.pokelist {
    padding: 0;   
    display: -webkit-box;   
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;    
    flex-flow: row wrap;
    justify-content: space-around;       
  }
  
  .btn{
    background: var(--main-color);
    border-radius: 2.3rem;
    border-color: var(--main-color);
    cursor: pointer;
    padding: 20px;
    outline: none;
    font-family: pokemon;
    letter-spacing: 4px;
    color: white;
    font-size: 1.2rem;
}

.btn:hover{
    background: #fff;
    color: var(--main-color);
    transition: 0.3s ease-in-out
}